.t-site-header {
    

    &__top {
        background-color: $white;
        padding-bottom: $grid-base * 2;

        @include large-up {
            padding-bottom: 0;
        
        }

    }

    &__menu {
        
    }


    &__hero {


        @include large-up {

        }
    }

    
}